<!DOCTYPE html>
<html>
  <head>
    <title>Tic-Tac-Toe</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <main class="background">
      <section class="title">
        <h1>Tic Tac Toe</h1>
      </section>
      <section class="display" id="displayMessage"></section>
      <section class="container">
        <div class="tile" id="0"></div>
        <div class="tile" id="1"></div>
        <div class="tile" id="2"></div>
        <div class="tile" id="3"></div>
        <div class="tile" id="4"></div>
        <div class="tile" id="5"></div>
        <div class="tile" id="6"></div>
        <div class="tile" id="7"></div>
        <div class="tile" id="8"></div>
      </section>
      <section class="controls">
        <button id="newGame">New Game</button>
      </section>
    </main>
    <script>
      const socket = io();

      socket.on('connect', () => {
        console.log(`> Player connected on client: ${socket.id}`);
      });
    </script>
  </body>
</html>