extends layout

block body-content
  main.background
      section.title
        h1 Tic Tac Toe
      section.display
        | Player 
        span#display-player
        | &apos;s turn
      section.container
        #0.tile
        #1.tile
        #2.tile
        #3.tile
        #4.tile
        #5.tile
        #6.tile
        #7.tile
        #8.tile
      section.display.announcer.hide
      section.controls
        button#reset Reset
  script(type='module', src='/javascripts/index.js')
  script(src='/socket.io/socket.io.js')
  script.
    const socket = io();